.idea
*.dot
*.pyc
build/
dist/
benchmarks/**/bin
MANIFEST
bh-job-*
*.mdb
benchpress.egg-info

benchmarks/_utils/cil/Utilities/obj
benchmarks/black_scholes/cil/src/obj
benchmarks/black_scholes/cs_cil/src/obj
benchmarks/black_scholes/csharp_numcil/src/obj
benchmarks/heat_equation/csharp_numcil/src/obj
benchmarks/heat_equation_fixed/csharp_numcil/src/obj
benchmarks/jacobi/csharp_numcil/src/obj
benchmarks/jacobi_fixed/csharp_numcil/src/obj
benchmarks/jacobi_solve/csharp_numcil/src/obj
benchmarks/jacobi_stencil/csharp_numcil/src/obj
benchmarks/nbody/csharp_numcil/src/obj
benchmarks/nbody_nice/csharp_numcil/src/obj
benchmarks/reactiondiffusion/csharp_numcil/src/obj
benchmarks/shallow_water/csharp_numcil/src/obj
benchmarks/xraysim/python_numpy/materials

doc/source/autodoc_benchmarks/*.rst
doc/source/autodoc_usage_commands/*.txt

*.userprefs
