*.pyc
build/
dist/
MANIFEST
bin/
bh-job-*
benchmarks/_utils/cil/Utilities/obj
*.mdb
benchmarks/black_scholes/cil/src/obj
benchmarks/black_scholes/cs_cil/src/obj
benchmarks/black_scholes/csharp_numcil/src/obj
